 # Rust build artifacts
/target/

# Environment configuration file
.env
phigros_bindings.db

# IDE/Editor specific files
.idea/
.vscode/
.cursor/
.codebuddy/

# OS specific files
.DS_Store
Thumbs.db

/phi-backend-service/

/html
REFACTORING_PLAN.md
test.html
test.md
phi-backend-rust.exe

/重构